<repeater>
	<tr>
		<td width="100%" align="center" class="full_width" style="border-collapse: collapse;">
			<div class="wrapper" style="width: 600px;margin: auto;">
				<table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600" class="table600con" style="border-collapse: collapse;">
					<tbody>
						<tr>
							<td width="100%" class="fw_full" align="center" valign="top" style="color:#4b4b4b; padding:40px; border-collapse: collapse; font-family: 'Titillium Web', sans-serif;">
								<h2 mc:edit="cta-larger-text" style="font-size:19px; line-height:26px; font-weight:400; color:#4b4b4b; margin-top:0; font-family: Helvetica, Arial, sans-serif;">
									<span style="font-family: 'Titillium Web', Helvetica, Arial, sans-serif;">
										<strong>What is Pulsr?</strong>
										 Pulsr is a social discovery application meant to answer the age-old question "What should we do tonight?"
									</span>
								</h2>
								<p mc:edit="cta-smaller-text" style="font-weight:400; font-size:16px; line-height:24px; margin-bottom:30px; font-family: Helvetica, Arial, sans-serif;">
									<span style="font-family: 'Titillium Web', Helvetica, Arial, sans-serif;">
										We empower people to get up and get out, leveraging our database of local events and businesses as a tool for leading a vibrant social life.
									</span>
								</p>
								<a href="http://pulsr.com" style="display:inline-block; margin:0 auto; font-weight:600; font-size:16px; line-height:1; font-family: Helvetica, Arial, sans-serif;">
									<span style="font-family: 'Titillium Web', Helvetica, Arial, sans-serif;">
										LEARN MORE<span style="font-size:18px;">&rsaquo;</span>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td width="100%" align="center" class="full_width" style="border-collapse: collapse; background: #fff">
			<div class="wrapper" style="width: 600px;margin: auto; background: #fff">
				<table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600" class="table600con" style="border-collapse: collapse;">
					<tr style="background: #ffffff">
						<td width="600" class="fw_full" align="center" bgcolor="#fff" style="padding: 0 30px; font-size: 12px;color: #4b4b4b;border-collapse: collapse; font-family: 'Titillium Web', sans-serif; height:1px; width:100%; margin:0px 0px 0px 0px; line-height: 1px; border-bottom:solid 1px #eaeaea;">&nbsp;</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</repeater>