
<body class="body" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0; font-family: 'Titillium Web', sans-serif;font-size: 12px; color: #4b4b4b; mso-line-height-rule: exactly;line-height: 1.5em;width: 100%; min-width: 600px;">

	<p>User <%= "#{@reported_by.first_name} #{@reported_by.last_name} #{@reported_by.email}" %> reported post: </p>
	<p>ID: <%= @post.id %></p>
	<p>Body: <%= @post.body %></p>

</body>