!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
	%head
		%meta{ content: "text/html; charset=utf-8", "httpequiv" => "Content-Type" }/
		%meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
		%link{ href: "https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,700", rel: "stylesheet", type: "text/css" }
  
		%title *|MC:SUBJECT|\*
		= stylesheet_link_tag 'mailers/onboarding_friendship/invite'
	= yield